<table class="GalleryLayout" border="1" cellspacing="0" cellpadding="0" style='width: 780px;height: 450px; border-collapse: collapse;'>
    <tr>
        <td class="GalleryPhotoBox" style='width: 100%; height: 450px;'>
            <div id="dng_photoshape" class="GalleryPhotoShape" style='position: absolute; z-index: 12;
                width: 780px; height: 450px;'>
            </div>
            <div style="position: absolute; margin-left: 100px; z-index: 13; width: 580px; height: 450px;
                background-color: #666666;">
                <table cellpadding="0" cellspacing="0" border="0" style='width: 100%; height: 100%;'>
                    <tr>
                        <td style='text-align: center; vertical-align: middle; width: 580px; height: 450px;'>
                            <div id="dng_photo">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="dng_photoback" style='z-index: 11; width: 780px; height: 450px;'>
                <div id="dng_prevphoto" style="float: left; margin-top: 105px;">
                </div>
                <div id="dng_nextphoto" style="float: right; margin-top: 105px;">
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="dng_toolbar" style='height: 20px; padding: 2px 0px 2px 10px;'>
                <div class="GalleryInformaion" style='float: left;'>
                    <span id="dng_fileinfor" style='font-weight: bold;'></span>
                    &nbsp;&nbsp;<span id="dng_comments"
                        style='font-weight: bold; color:Green; cursor:pointer;'></span> -- <span id="dng_locagion"
                        style='font-weight: bold;'></span>
                </div>
                <div id="dng_uploaderholder" style='display: none; float: left;'>
                </div>
            </div>
        </td>
    </tr>
</table>
