<table class="GalleryLayout" border="1" cellspacing="0" cellpadding="0" style="width:100%;height:100%;border-collapse:collapse;">
	<tr style="height:20px">
		<td>
			<div id="dng_uploaderholder" style='position:absolute;display:none'></div>
			<div id='dng_toolbar' style='float:right'>
				<img class="GalleryButton" id="dng_btn_newcategory" />
				<img class="GalleryButton" id="dng_btn_slider" onclick="GalleryBrowser.Execute(this,'ShowSlider');return false;" />
			</div>
			<div style='float:left;margin:8px;'>
				<span id="dng_location" style='font-weight:bold;'>Location: </span>
				<span id="dng_path" style='font-weight:bold;'></span>
				<span id="dng_btn_up" class='GalleryButtonUp' style='display:none'>
					<img style='visibility:hidden;width:16px;height:16px;' /></span>
			</div>
		</td>
	</tr>
	<tr style="height:100%">
		<td valign="top">
			<div id="dng_photolist">&nbsp;</div>
		</td>
	</tr>
</table>
