<table class="GalleryLayout" border="0" cellspacing="0" cellpadding="0" style='width: 780px;
    height: 350; border-collapse: collapse;'>
    <tr style='height: 100%;'>
        <td style='width: 180px; vertical-align:top; height:350px;'>
            <div id="dng_photolist" >
            </div>
            <div id="dng_toolbar" style='height: 30px; margin-top: 10px; clear:both'>
                <table cellpadding="0" cellspacing="0" style='width: 100%; border: 0px; '>
                    <tr>
                        <td style='width: 25%;'>
                            <img class='BlackSliderButton' id='dng_btn_prev' style='width: 16px; height: 16px' />
                        </td>
                        <td style='width: 50%;'>
                            &nbsp;
                        </td>
                        <td style='width: 25%;'>
                            <img class='BlackSliderButton' id="dng_btn_next" style='width: 16px; height: 16px' />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="dng_uploaderholder" style='position: absolute; display: none'>
            </div>
        </td>
        <td class="GalleryPhotoBox" style='width: 600px; height: 350px;'>
            <div id="dng_photo">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="GalleryInformaion" style="clear: both; text-align:left">
              
                <div id="dng_locagion" style='font-weight: bold; '>
                </div>
                  <div id="dng_fileinfor" style='font-weight: bold; width: 180px; word-break: break-all;
                    word-wrap: break-word'>
                </div>
            </div>
        </td>
        <td>
            <div id="dng_photoinfor" style="background-color: #666666; height: 22px; padding-top: 4px;
                text-align: left; color: Black;  visibility:hidden">
            </div>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
        </td>
    </tr>
</table>
