<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- <add key="DotNetGalleryClient" value="~/CuteSoft_Client/Gallery/" /> -->
		<!-- <add key="DotNetGalleryFolder" value="~/GalleryFiles/" /> -->
		<!-- You can set a low upload speed to test the progress bar. -->
		<!-- <add key="DotNetGallery.AjaxUploader.UploadSpeedKB" value="200" /> -->
	</appSettings>
	<system.web>
		<httpRuntime maxRequestLength="2000000" />
		<trust level="Medium" />
		<compilation defaultLanguage="c#" debug="true" />
		<httpModules>
			<add name="DotNetGallery.UploadModule" type="DotNetGallery.UploadModule,DotNetGallery" />
		</httpModules>
	</system.web>
</configuration>
